/* ALL PAGES */

body {
  background-color: #f7f4f1;
  font-family: "Raleway", sans-serif;
}

section {
  margin-bottom: 80px;
}

/* HEADER */
.logo {
  font-family: "Meddon", cursive;
  color: #e63946;
  padding-top: 50px;
  padding-bottom: 15px;
  padding-right: 30px;
  margin: 0;
  position: center;
  /* align-items: center;
  text-align: center; */
  align-items: right;
  text-align: right;
  float: right;
}

#circle-logo {
  max-height: 220px;
  max-width: 220px;
  padding-left: 30px;
  float: left;
}

/* NAV */
nav {
  align-items: center;
}

.nav-box {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  border-top: 1px solid #e63946;
  border-bottom: 1px solid #e63946;
  background-color: white;
}

.nav-text {
  color: #1d3557;
}

.nav-text:hover {
  color: #457b9d;
}

li {
  padding-left: 50px;
  padding-right: 50px;

  position: center;
  align-items: center;
  text-align: center;
}

/* MIDDLE SECTION */
.box {
  padding-left: 10%;
  padding-right: 10%;
}

/* FOOTER */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #1d3557;
  flex-shrink: 0;
}

.footer-text {
  color: white;
  margin-top: 8px;
  font-size: 10px;
}

/* HOME PAGE */
.home-btn {
  margin: 10px;
  /* background-color:#9abcd1 ; */
  background-color: white;
  border: none;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.home-btn:hover {
  /* background-color: #457b9d; */
  background-color: #9abcd1;
}

.right-side {
  float: right;
}

.btn-logos {
  padding: 30px;
  color: #1d3557;
  text-align: right;
  position: center;
}

.home-btn-p {
  color: #e63946;
}

#svp-logo {
  font-family: "Meddon", cursive;
  font-size: 2em;
}

#srsa-logo {
  font-family: "Cinzel", serif;
  font-size: 2.5em;
}

#hlms-logo {
  font-family: "Dawning of a New Day", cursive;
  font-size: 2.5em;
}

.biz-image {
  height: 130px;
  width: 173px;
  float: left;
  margin: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* ABOUT PAGE */
#about-image {
  border-radius: 50%;
  max-height: 300px;
  margin: 30px;
  margin-right: none;
}

#about-box {
  background-color: white;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#about-text {
  padding: 50px;
}

#svspan {
  font-weight: bolder;
}

.bio-image {
  border-radius: 50%;
  max-height: 200px;
  /* padding-top: 30px; */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bio-card {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bio-name {
  color: #e63946;
  font-family: "Meddon", cursive;
  text-align: center;
}

.bio-text {
  padding: 20px;
}

/* CONTACT PAGE */
#contact-image {
  max-height: 450px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#contact-image:hover {
  opacity: 0.6;
}

#contact-btn {
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* COMING SOON TEMP PAGE */

#coming-soon-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1200px) {
  #svp-logo {
    font-size: 1.5em;
  }
  #srsa-logo {
    font-size: 2em;
  }
}

@media screen and (max-width: 1000px) {
  #svp-logo {
    font-size: 1em;
  }
  #srsa-logo {
    font-size: 1.5em;
  }
  #hlms-logo {
    font-size: 2em;
  }

  li {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 770px) {
  #svp-logo {
    font-size: 0.5em;
  }
  #srsa-logo {
    font-size: 1em;
  }
  #hlms-logo {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 575px) {
  #svp-logo {
    font-size: 1em;
  }

  .btn-logos {
    text-align: center;
  }

  #steph-frame {
    margin-top: 30px;
  }

}
