body {
  background-color: white;
  font-family: "Raleway", sans-serif;
}

button {
  margin: 10px;
  height: 160px;
  width: 100%;
  background-color: #457b9d;
  border: none;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:hover {
  background-color: #a8dadc;
}

.box {
  padding-left: 10%;
  padding-right: 10%;
}

/* HEADER */
.logo {
  font-family: "Meddon", cursive;
  color: #e63946;
  padding-top: 30px;
  padding-bottom: 15px;
  margin: 0;
  position: center;
  align-items: center;
  text-align: center;
}

/* .logoBanner {
    background-color: #f1faee;;
  } */

.nav-box {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  border-top: 1px solid #e63946;
  border-bottom: 1px solid #e63946;
}

.nav-text {
  color: #1d3557;
}

.nav-text:hover {
  color: #457b9d;
}

li {
  padding-left: 100px;
  padding-right: 100px;

  position: center;
  align-items: center;
  text-align: center;
}

nav {
  align-items: center;
}

p {
  padding-right: 30px;
  padding-top: 10px;
  color: white;
  font-size: 2.5em;
  text-align: right;
  position: center;
}

#svp-logo {
  font-family: "Meddon", cursive;
}

#srsa-logo {
  font-family: "Cinzel", serif;
}

#hlms-logo {
  font-family: "Dawning of a New Day", cursive;
}

.biz-image {
  height: 130px;
  width: 173px;
  float: left;
  margin: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

section {
  margin-bottom: 80px;
}

/* FOOTER */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #1d3557;
  flex-shrink: 0;
}

.footer-text {
  color: white;
  margin-bottom: 12px;
  font-size: 10px;
}
